body{
    background-color: #000;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px 0px;
}

.Navbar{
    background-color: #0100089c;
    display:flex;
    justify-content: space-between;
    height:10vw;
}

.Navbar div{
    justify-content: space-between;
    align-self: center;
}

.Navbar div a{
    margin-right: 5vw;
    text-decoration: none;
    color: rgb(100, 150, 256);
    font-size:4vw;
    flex: 0 1 auto;
    /*align-self: center;*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.15s ease;
}

.Navbar div a:hover{
    margin-right: 5vw;
    text-decoration: none;
    color: rgb(100, 180, 256);
    font-size:4.5vw;
    flex: 0 1 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.highlight{
    border-bottom: 3px solid rgb(100, 150, 256);
}

.Navbar a{
    margin-left: 2vw;
    flex-grow: 0;
    align-self: center;
}
.Navbar a img{
    height:6vw;
    transition: 0.15s ease;
}
.Navbar a:hover img{
    height:7vw;
}
.Navbar a:hover{
    margin-left: 1.5vw;
}

.text{
    padding: 5vw;
    background-color: #010008e7;
    border-radius: 5vw;
    margin: 5vw;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text h1{
    margin-top: 0;
}

.text p{
    margin: 0;
}