body{
    background-color: #000;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px 0px;
    
}
.Navbar{
    background-color: #010008be;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
}
.Navbar div{
    justify-content: space-between;
}
.Navbar div a{
    margin-right: 5vw;
    text-decoration: none;
    color: rgb(100, 150, 256);
    font-size:2.5vw;
    flex: 0 1 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.15s ease;
}
.Navbar div a:hover{
    text-decoration: none;
    color: rgb(100, 180, 256);
    flex: 0 1 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.highlight{
    border-bottom: 3px solid rgb(100, 150, 256);
}
.Logo{
    height: 4vw;
    width: 4vw;
    margin: 0.7vw;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logo img{
    height: 3.5vw;
    transition: 0.12s ease;
}
.Logo img:hover{
    height: 4vw;
}
.text{
    text-wrap: wrap;
    padding: 3vw;
    backdrop-filter: blur(10px);
    background-color: #010008e7;
    border-radius: 3vw;
    margin: 3vw;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text h1{
    margin-top: 0;
}
.text p{
    margin: 0;
}

@media only screen and (orientation: portrait){
        .Navbar div a::before {
        content: "✨";
        margin-right: 1vw;
    }
}